<nav class="navbar navbar-dark bg-dark mb-4">
    <div class="container">
        <a href="/agregarAlumno" class="navbar-brand">VIVAN LAS AGUILAS DEL AMERICAS</a>
        <ul>
            <li><a href="/agregarAsignatura">Asignatura</a></li>
            <li><a href="/agregarAlumno">Alumno</a></li>
            <li><a href="/agregarProfesor">Profesor</a></li>
        </ul>
    </div>
</nav>